/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}


.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1220px;
}

@media (max-width: 1024px) {
	.wrapper {
		padding: 0 40px;
	}
}

@media (max-width: 751px) {
	.wrapper {
		padding: 0 10px;
	}
}

/* @media (max-width: 320px) {
	.wrapper {
		padding: 0 10px;
	}
} */

.header {
	background-color: #eff0f2;
	width: 100%;
	padding: 64px 0;

}

.header__logo {
	cursor: pointer;
	width: 113px;
	height: 46px;
}

/* @media (max-width: 320px) { 
	.header {
		padding-bottom: 40px;
	}
} */

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
}


.welcome {
	background: #eff0f2;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* @media (max-width: 320px) {
	.welcome {
		padding: 15px 0;
	}
} */

@media (max-width: 1024px) {
	.welcome {
		padding: 40px 0;
	}
}


.welcome__title {
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.7px;
	margin-bottom: 25px;
}

@media (max-width: 1024px) {
	.welcome__title {
		letter-spacing: 0;
		line-height: 1.2;
		/* font-size: 40px; */
	}
}


@media (max-width: 751px) {
	.welcome__title {
		letter-spacing: 0;
		line-height: 1.2;
		font-size: 40px;
	}
}
/* @media (max-width: 320px) {
	.welcome__title {
		letter-spacing: 0;
		line-height: 1.2;
		font-size: 40px;
	}
} */

.welcome__subtitle {
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.7px;
	margin-bottom: 150px;
}
@media (max-width: 1024px) {
	.welcome__subtitle {
		line-height: 1.2;
		margin-bottom: 100px;
		letter-spacing: 0;
		/* font-size: 40px; */
	}
}
@media (max-width: 751px) {
	.welcome__subtitle {
		line-height: 1.2;
		margin-bottom: 100px;
		letter-spacing: 0;
		font-size: 40px;
	}
}

/* @media (max-width: 320px) {
	.welcome__subtitle {
		margin-bottom: 40px;
		letter-spacing: 0;
		line-height: 1.2;
		font-size: 40px;
	}
} */

.welcome__btn {
	margin: 0 auto;
	display: inline-flex;
	align-items: center;
	padding: 19px 45px;
	border-radius: 2px;
	border: 2px solid #000000;

	opacity: 0.75;
	color: #000000;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;

}

@media (max-width: 1024px) {
	.welcome__btn {
		padding: 19px 100px;
		-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	}
}

.welcome__button {
	display: flex;
	justify-content: center;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}



.welcome__btn:hover {
	color: #70f6eb;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}



.welcome__box {
	display: flex;
	flex-direction: row-reverse;

}

.welcome__glass {
	width: 121px;
	height: 156px;
	position: relative;
	top: -20px;
}

/* @media (max-width: 320px) {
	.welcome__glass {
		top: 10px;
		left: 9px;
	}
} */

@media (max-width: 751px) {
	.welcome__glass {
		top: 10px;
		left: 9px;
	}
}

.welcome__color {
	background-color: #b2f2ee;
	padding: 10px;

}

@media (max-width: 1024px) {
	.welcome__color {
		padding: 0px;
	}
}




.wrapper--about {
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1040px;
}

@media (max-width: 1024px) {
	.wrapper--about {
		padding: 0 20px;
	}
}
.about_us {
	background: #f8fafa;
	padding: 150px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (max-width: 1024px) {
	.about_us {
		padding: 75px 0;
	}
}

/* @media (max-width: 320px) {
	.about_us {
		padding: 60px 0;
	}
} */

.about_us__title {
	color: #1c1d1d;
	font-family: Montserrat;
	font-size: 38px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 17px;
}
/* @media (max-width: 320px) {

		
	.about_us__title {
		font-size: 30px;
		margin-bottom: 5px;
	}
} */

.about_us__subtitle {
	color: #6c6e6e;
	font-family: Merriweather;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	line-height: normal;
	margin-bottom: 150px;
}

@media (max-width: 751px) {

	
	.about_us__subtitle {
		margin-bottom: 100px;
	}
}

/* @media (max-width: 320px) {

	
	.about_us__subtitle {
		margin-bottom: 30px;
	}
} */



.about_us__box {
	display: flex;
}



@media (max-width: 751px) {

	
	.about_us__box {
		flex-direction: column;
	}
}

.about_us__right {
	margin-right: 156px;
}

@media (max-width: 1024px) {
	.about_us__right {
		margin-right: 10%;
	}
}


@media (max-width: 751px) {
		
	.about_us__right {
		margin-right: 0;
		}
}

.about_us__image {
	box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);

}



@media (max-width: 751px) {

		.about_us__image {
		width: 100%;
		margin-bottom: 40px;
	}

		.about_us__left {
		justify-content: center;
	}
}



.about_us__caption {
	color: #3e3e3e;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 31px;
}

/* @media (max-width: 320px) {
		
	.about_us__caption {
		margin-bottom: 15px;
	}
} */

.about_us__text {
	color: #878787;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	margin-bottom: 37px;
	line-height: 28px;

}


/* @media (max-width: 320px) {
			
	.about_us__text {
		margin-bottom: 25px;
	}
} */


.works {
	background: #ffffff;
	padding: 150px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media (max-width: 1024px) {
	.works {
		padding: 75px 0;
	}
}

/* @media (max-width: 320px) {
	.works {
		padding: 60px 0;
	}
} */
.works__title {
	color: #1c1d1d;
	font-family: Montserrat;
	font-size: 38px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 17px;
}
/* @media (max-width: 320px) {
	
	.works__title {
		font-size: 30px;
		margin-bottom: 5px;
	}
} */
.works__subtitle {
	color: #6c6e6e;
	font-family: Merriweather;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	line-height: normal;
	margin-bottom: 122px;
}

@media (max-width: 751px) {
	
	.works__subtitle {
		margin-bottom: 100px;
	}
}
/* @media (max-width: 320px) {
	
	.works__subtitle {
		margin-bottom: 45px;
	}
} */

.gallery {
	display: grid;
	grid-gap: 13px;
	grid-template-columns: repeat(3, 1fr);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;

}

.gallery__line:hover {
	transform: scale(1.02);
}

@media (max-width: 1024px) {

	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 751px) {

	.gallery {
		grid-template-columns: 1fr;
	}
}

/* @media (max-width: 320px) {

	.gallery {
		grid-template-columns: 1fr;
	}
} */

.gallery__line {
	width: 100%;
	display: block;
}

.gallery__popup {
	position: fixed;
	top: 0; 
	left: 0;
	background: #1c1d1d;
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}


.popup__x {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 60px;
	font-weight: bolder;
	color: #fff;
	cursor: pointer;
	z-index: 100;
}

.popup__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	width: 750px;
	object-fit: cover;
	

}
@media (max-width: 1024px) {
	.popup__img {
		width: 95%;
	}
}

 .team {
	background: #f9fbfb;
	padding: 150px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media (max-width: 1024px) {
	.team {
		padding: 75px 0;
	}
}
/* @media (max-width: 320px) {
	.team {
		padding: 25px 0;
	}
} */

.team__title {
	color: #1c1d1d;
	font-family: Montserrat;
	font-size: 38px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 17px;

}

/* @media (max-width: 320px) {
	
	.team__title {
		font-size: 30px;
		margin-bottom: 5px;
	}
} */

.team__subtitle {
	color: #6c6e6e;
	font-family: Merriweather;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	line-height: normal;
	margin-bottom: 122px;
}
@media (max-width: 751px) {
	.team__subtitle {
		margin-bottom: 100px;
	}
}

/* @media (max-width: 320px) {
		
	.team__subtitle {
		margin-bottom: 50px;
	}
} */

.team__gallery {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(3, 1fr);
	

}

@media (max-width: 1024px) {
		
	.team__gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 751px) {
		
	.team__gallery {
		grid-template-columns: 1fr;
	}
}

 /* @media (max-width: 320px) {
		
	.team__gallery {
	grid-template-columns: 1fr;
	}
}  */

.card__img {
	margin: 0%;
	width: 100%;
	display: block;
	
}

.card {
	position: relative;
	

}


.card__inner {
	padding: 40px 40px;

	background-color: #70f6eb;
	position: absolute;
	left: 15px;
	bottom: 15px;
	right: 15px;
	opacity: 0;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;

}
@media (max-width: 1024px) {
	.card__inner {
		padding: 20px 20px;
	}
}

@media (max-width: 751px) {
	.card__inner {
		padding: 20px 20px;
	}
}

.card:hover .card__inner {
	opacity: 1;

}

.card__triangle-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 23px solid #70f6eb;
	position: absolute;

	bottom: 100%;
	left: 21px;
	display: inline-block;

}


.card__name {
	color: #2b3131;
	font-family: "Merriweather - Bold";
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.6px;
	line-height: normal;
	text-align: left;
	margin-bottom: 23px;
}

@media (max-width: 751px) {
	.card__name {
		margin-bottom: 15px;
	}
}

.card__prof {
	color: #75807f;
	font-family: "Merriweather - Regular";
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.45px;
	line-height: normal;
}

.card__text {
	color: #2e2e2e;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
	margin-bottom: 40px;
}

@media (max-width: 751px) {
	.card__text {
		margin-bottom: 10px;
	}
}

.card__logo {
	height: 13px;
	width: 13px;
	margin-right: 13px;
	color: #2e2e2e;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;

}

.card__logo:hover {
	color: #75807f;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.card__socials {
	display: flex;
} 


.block {
	background: url(picture/christmas_snow_trees-wide.png);
	
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 150px 0;
}
@media (max-width: 1024px) {
	.block {
		background: url(picture/christmas_snow_trees-wide.png)  repeat-y;
		padding: 75px 0;
	}
}
@media (max-width: 751px) {
	.block {
		background: url(picture/christmas_snow_trees-wide.png)  repeat-y;
		padding: 40px 0;
	}
}
/* @media (max-width: 320px) {
	.block {
		background: url(picture/christmas_snow_trees-wide.png)  repeat-y;
		padding: 40px 0;
	}
} */

.block__group {
	display: flex;
}

@media (max-width: 1024px) {
	
	.block__group {
		flex-direction: column;
	}
}
@media (max-width: 751px) {
	
	.block__group {
		flex-direction: column;
	}
}

/* @media (max-width: 320px) {
	
	.block__group {
		flex-direction: column;
	}
} */

.formbox,
.infobox {
	background-color: rgba(2, 22, 35, 0.7);
}

.formbox {
	width: 50%;

}

.formbox {
	color: #ffffff;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
	overflow: hidden;

	padding: 45px 34px 40px 30px;
	margin-right: 28px;

}
@media (max-width: 1024px) {
	.formbox {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
}

@media (max-width: 751px) {
	.formbox {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
}
/* @media (max-width: 320px) {
		
	.formbox {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
} */



.formbox__input {
	display: block;
	width: 100%;
	font-family: Raleway;
	color: #ffffff;
	;
	letter-spacing: normal;
	height: 55px;


}

.formbox__input--email {
	display: block;
	width: 100%;
	font-family: Raleway;
	color: #ffffff;
	letter-spacing: normal;
	height: 55px;
	margin-bottom: 30px;

}

.formbox__input::placeholder,
.formbox__input--textarea::placeholder,
.formbox__input--email::placeholder {
	color: #ffffff;
	;
}

.formbox__input,
.formbox__input--email {

	border: none;
	border-bottom: 1px solid #ffffff;
	background-color: transparent;


}

.formbox__input--textarea {
	width: 100%;
	height: 100px;
	font-family: Raleway;
	color: white;
	padding-bottom: 10px;
	border: none;
	border-bottom: 1px solid #ffffff;
	;
	background-color: transparent;

	resize: none;
	margin-bottom: 38px;
}

.formbox__input:-webkit-autofill,
.formbox__input:-webkit-autofill:hover,
.formbox__input:-webkit-autofill:focus,
.formbox__input:-webkit-autofill:active,
.formbox__input--email:-webkit-autofill,
.formbox__input--email:-webkit-autofill:hover,
.formbox__input--email:-webkit-autofill:focus,
.formbox__input--email:-webkit-autofill:active {

	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: white !important;
	caret-color: white;
}

.formbox__button {
	font-family: Montserrat;
	letter-spacing: inherit;
	text-transform: uppercase;
	font-size: 18px;
	background: #6eeee4;
	color: #000000;
	border: none;
	border-radius: 2px;
	padding: 20px 40px;

	width: 244px;

	cursor: pointer;

	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

@media (max-width: 1024px) {
	.formbox__button {
		width: 100% ;
		margin: 0px auto;
	}
}

@media (max-width: 751px) {
	.formbox__button {
		width: 100% 
	}
}
/* @media (max-width: 320px) {
	.formbox__button {
		width: 100% 
	}
} */


.formbox__button:hover {
	background-color: #beeeff;
	color: white;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.infobox {

	color: white;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
	padding: 40px 24px 20px 24px;
	text-decoration: none;

}

.infobox__phone,
.infobox__fax,
.infobox__web,
.infobox__email {
	color: white;
	text-decoration: none;

}

.infobox--underline:hover {

	text-decoration: underline;

}



.infobox__fax {
	margin-bottom: 39px;
}

.infobox__email {
	margin-bottom: 24px;
}



.infobox__map {
	width: 460px;
	height: 230px;
	background-color: #333;
}
@media (max-width: 1024px) {
	
	.infobox__map {
		width: 100%;
	}

}
@media (max-width: 751px) {
	
	.infobox__map {
		width: 100%;
	}

}

/* @media (max-width: 320px) {
	
	.infobox__map {
		width: 100%;
	}

} */

[class*="copyrights-pane"] {
	display: none !important;
}

[class*="ground-pane"] {
	filter: grayscale(1);
}



.footer {
	background-color: #262b2e;
	padding: 150px 0;
}
@media (max-width: 1024px) {
	.footer { 
		padding: 75px 0;
	}
}

/* @media (max-width: 320px) {
	.footer {
		padding: 50px 0;
	}
} */

.footer__text {
	color: #a6a8a9;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.footer__socials {
	display: flex;
	justify-content: center;
	align-items: center;

}


.fotter__icons {
	font-size: 24px;
	color: #bec0c1;
	margin: 0;
	width: 45px;
	height: 40px;
	margin-right: 7px;
	background: #424648;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;

}


.fotter__icons:hover {
	color: black;
	background: #6eeee4;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}


:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}