/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: #eff0f2;
}
.header__logo {
    cursor: pointer;
    width: 113px;
    height: 46px;
    margin-top: 1.2%;
    margin-left: 10.4%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
span {
width: 255px;
height: 54px;
background-color: #76f4ea;
opacity: 0.5;
}

p {
width: 608px;
height: 33px;
text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
color: #505050;
font-family: 'Montserrat', sans-serif;
font-size: 45px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 28px;
text-align: center;
text-transform: uppercase;
}

