/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: #eff0f2;
}

header {
	background: #eff0f2;
	width: 100%;

}

.header__logo {
	cursor: pointer;
	margin-top: 1.2%;
	margin-left: 10.4%;
}

.main__title--text1 {
    margin-top:3.8%;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 2.7px;
}
.main__title--text2 {
    padding-top: 25px;
	padding-bottom: 150px;
	position: relative;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 2.7px;
}

.color1 {
    width: 255px;
    height: 54px;
    background-color: #afeeea;

    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 2.7px;
}
.color2{
    width: 255px;
    height: 54px;
    background-color: #afeeea;

    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 2.7px;
}
.main__btn-- {
    margin: 0 auto;
	display: block;
    padding-top: 22px;
	width: 236px;
	height: 53px;
	border-radius: 2px;
	border: 2px solid #000000;
	opacity: 0.75;
	color: #000000;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

}
.glass {
	width: 121px;
	height: 156px;
	position: absolute;
	left: 76.6%;
	bottom: 9.8%;
}
